<div id="splash">
	<hgroup>
		<h1>bllbrd</h1>
		<h2>music for the masses</h2>
	</hgroup>
	<p>We are still in beta,<br>but feel free to join us!</p>
	<div>
		<label><input type="checkbox"> I agree to the </label><a href="http://www.copyright.gov/legislation/dmca.pdf">Terms</a>
	</div>
	<a class="btn btn-info"  href="/auth/twitter">Login with Twitter</a>
</div><!-- #splash -->