<h1>Albums</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Artist</th>
      <th>Year</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @albums.each do |album| %>
      <tr>
        <td><%= link_to album.name, artist_album_path(album.artist,album) %></td>
        <td><%= link_to album.artist.name, artist_path(album.artist) %></td>
        <td><%= album.year %></td>
        <td>
          <%= link_to 'Edit', edit_album_path(album), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>